@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap");

/* 
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Roboto', sans-serif;     
    font-family: 'Akaya Telivigala', cursive;
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

/* Scrollbar Styling */

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.section_heading {
  font-family: "Akaya Telivigala", cursive;
  color: darkslategray;
  text-align: center;
  margin: 10px auto;
  padding-top: 20px;
}

.section_heading span:nth-child(2) {
  display: block;
  margin: 5px auto;
  width: 70px;
  height: 4.5px;
  border-radius: 10px;
  background: rebeccapurple;
}

/* Banner Box & Payment Gateway Button */
.banner_box {
  position: relative;
  margin-bottom: 40px !important;
}

.banner_box img {
  width: 100%;
  height: auto;
  margin: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  height: 100%;
  transition: 0.5s ease;
  opacity: 1;
  color: white;
  font-size: 16px;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner_heading {
  font-family: 'Akaya Telivigala', cursive;
  font-size: 2.5em;
}

.banner_text {
  letter-spacing: 0.8px;
  margin-top: 20px;
  line-height: 1.8;
}

.banner_text .banner_text_author {
  font-style: italic;
  font-family: 'Akaya Telivigala', cursive;
}

/* Contact Form */
.contact_form label {
  color: grey;
  margin-bottom: -1.5px;
  font-size: 14px;
  letter-spacing: 0.9px;
}

.contact_form input,
.contact_form textarea {
  border-radius: 0;
  border: 1px solid lightgrey;
}

.contact_form input:invalid,
.contact_form textarea:invalid {
  border: 1px solid #757575;
}

.contact_form .submit_button {
  border-radius: 0;
  color: white;
  padding: 6px 30px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 1px solid grey;
}